#change{
    color: chartreuse;
}
.orderlist{
    color: brown;
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    font-style: inherit;
    
}
.divchange{
    color: blue;
    height: 300px;
    background-image: url('img/download.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: 5px solid black;
    border-radius: 10px;
    box-shadow: 10px 20px 15px 18px greenyellow;
}
p{
   visibility: hidden;
}
span{
    display: block;
}
.hello{
    display: inline-block;
}